
.buttonsDivisoes {
  text-align: center;
  margin-top: 180px;
  margin-left: 300px;
}


.topButtons button,
.bottomButtons button {
  background-color: #B99470;
  width: 250px;
  height: 100px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  margin: 20px;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.topButtons button:hover,
.bottomButtons button:hover {
  background-color: #a48464;
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


#voltarDivisoes{
  position: fixed;
  right: 2%;
  bottom: 3%;
  background-color: #B99470;
  color:white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial;
  font-size: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}